body {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
}

li {
    list-style:none;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 20px;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
}